<div ng-controller="UserCtrl">
    <div>
    &nbsp;&nbsp;关键字：<input type="text" id="searchTextBox" ng-model="userFilterService.searchText"><INPUT TYPE="button" VALUE="Go" ng-click="getList()">
    <input type="checkbox" ng-model="userFilterService.activeFilters.isMyFollower" ng-false-value="">我关注的&nbsp;&nbsp;
    <input type="checkbox" ng-model="userFilterService.activeFilters.isMyBoss" ng-false-value="">关注我的&nbsp;&nbsp;
    <input type="checkbox" ng-model="userFilterService.activeFilters.tobeMyBoss" ng-false-value="">待处理的
    </div>
    <div ng-repeat="user in users | filter:{'userName':userFilterService.searchText} | filter:userFilterService.activeFilters"  class="partial2_div2_none">
        <div ng-show="!user.isMyself">
            姓名：<font color="blue">{{user.userName}}</font><br>
            部门：{{user.department}}<br>
            <span ng-show="user.isMyFollower">我已关注{{user.userName}}</span>
                <button ng-show="user.isMyFollower" ng-click="deleteFollower($index)">取消关注</button>
                <button ng-show="!user.isMyFollower && !user.tobeMyFollower" ng-click="addTobeMyFollower($index)">关注{{user.userName}}</button><br>

            <span ng-show="user.isMyBoss">{{user.userName}}已关注我</span>
                <button ng-show="user.isMyBoss" ng-click="deleteBoss($index)">取消关注</button>
                <button ng-show="!user.isMyBoss && !user.tobeMyBoss" ng-click="addBoss($index)">请{{user.userName}}关注我</button><br>

            <span ng-show="user.tobeMyBoss">{{user.userName}}提请关注我</span>
                <button ng-show="user.tobeMyBoss" ng-click="agreeTobeMyBoss($index)">同意{{user.userName}}关注我</button>
                <button ng-show="user.tobeMyBoss" ng-click="disagreeTobeMyBoss($index)">不同意{{user.userName}}关注我</button><br>

            <span ng-show="user.tobeMyFollower">我已提请关注{{user.userName}}</span>
                <button ng-show="user.tobeMyFollower" ng-click="deleteTobeMyFollower($index)">取消关注</button>


        </div>
    </div>
</div>

