<div ng-controller="UserCtrl">
    <div>
    &nbsp;&nbsp;关键字：<input type="text" id="searchTextBox" ng-model="userFilterService.searchText"><INPUT TYPE="button" VALUE="Go" ng-click="getList()">
    <input type="checkbox" ng-model="userFilterService.activeFilters.isMyFollower" ng-false-value="">我关注的&nbsp;&nbsp;
    <input type="checkbox" ng-model="userFilterService.activeFilters.isMyBoss" ng-false-value="">关注我的&nbsp;&nbsp;
    <input type="checkbox" ng-model="userFilterService.activeFilters.tobeMyBoss" ng-false-value="">待处理的
    </div>
    <div ng-repeat="user in users | filter:{'username':userFilterService.searchText} | filter:userFilterService.activeFilters"  class="partial2_div2_none">
        <div ng-show="!user.isMyself">
            <font color="blue">{{user.username}}</font><br>
            department: {{user.department}}<br>
            bosses: {{user.bosses}}<br>
            followers: {{user.followers}}<br>
            <span ng-show="user.isMyFollower">我已关注的人</span><button ng-show="user.isMyFollower" ng-click="deleteFollower($index)">取消关注</button><button ng-show="!user.isMyFollower" ng-click="addFollower($index)">关注TA</button><br>
            <span ng-show="user.isMyBoss">已关注我的人</span><button ng-show="user.isMyBoss" ng-click="deleteBoss($index)">取消关注</button><button ng-show="!user.isMyBoss" ng-click="addBoss($index)">请TA关注我</button><br>
            <button ng-show="user.tobeMyBoss" ng-click="agreeMyBoss($index)">同意TA关注我</button><button ng-show="user.tobeMyBoss" ng-click="disagreeMyBoss($index)">不同意TA关注我</button><br>
        </div>
    </div>
</div>

