<div>
    <h3>新用户</h3>
    <form ng-submit="save()">
        <div class="control-group">
            <input type="text" placeholder="用户名" ng-model="userName" class="form-control" />
            <input type="text" placeholder="拼音" ng-model="pinyin" class="form-control" />
            <input type="text" placeholder="密码" ng-model="password" class="form-control" />
            <input type="text" placeholder="部门" ng-model="department" class="form-control" />
            <button type="submit" class="btn btn-default">注册</button>
        </div>
    </form>
</div>

<hr>
<br><br>
<h3>User List</h3>
<div class="input-group">
    <span class="input-group-addon">关键字：</span>
    <input type="text" ng-model="search.userName"  class="form-control"/>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="list()" >more...</button>
    </span>
</div>

<table class="table table-hover">
   <thead>
   <tr class="info">
       <td>userId</td>
       <td>userName</td>
       <td>pinyin</td>
       <td>password</td>
       <td>department</td>
   </tr>
   </thead>
    <tbody>
    <tr ng-repeat="user in users | filter:{'userName':search.userName}">
        <td>{{user.userId}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.pinyin}}</td>
        <td>{{user.password}}</td>
        <td>{{user.department}}</td>
    </tr>
    </tbody>
</table>

