<div>
    <span ng-show="isAuthenticated">{{welcome}}</span>
    <form ng-show="!isAuthenticated" ng-submit="login()">
        <input ng-model="loginUser.username" type="text" name="user" placeholder="Username" />
        <input ng-model="loginUser.password" type="password" name="pass" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
    <div>{{error}}</div>
    <div ng-show="isAuthenticated">
        <a ng-click="callRestricted()" href="">Shh, this is private!</a>
        <br>
        <div>{{message}}</div>
        <a ng-click="logout()" href="">Logout</a>
    </div>

    <div>
        <h3>logined user's information:</h3>
        userid: {{loginUser.userid}}<br>
        username: {{loginUser.username}}<br>
        department: {{loginUser.department}}<br>
        bosses: {{loginUser.bosses}}<br>
        followers: {{loginUser.followers}}<br>
        tobebosses: {{loginUser.tobebosses}}
    </div>

</div>
