<div>
    <span ng-show="isAuthenticated">{{welcome}}</span>
    <form ng-show="!isAuthenticated" ng-submit="login()">
        <input ng-model="loginUser.userName" type="text" name="user" placeholder="Username" />
        <input ng-model="loginUser.password" type="password" name="pass" placeholder="Password" />
        <button type="submit" ng-click="submitComment($index);" class="btn btn-default">登录</button>
    </form>
    <div>{{error}}</div>
    <div ng-show="isAuthenticated">
        <a ng-click="logout()" href="">点击退出登录</a><br><br>
        <a ng-click="callRestricted()" href="">Shh, this is private!</a>
        <br>
        <div>{{message}}</div>
    </div>

    <div>
        <h3>logined user's information:</h3>
        userId: {{loginUser.userId}}<br>
        userName: {{loginUser.userName}}<br>
        department: {{loginUser.department}}<br>
    </div>
</div>
<script>
    $('#myTab a[href="#login"]').tab('show');
</script>

