<div>
<button ng-click="setWriteLogShow()" class="btn btn-success btn-xs">写日志</button>
<button ng-click="getLogsByLevel(0)" class="btn btn-success btn-xs">0</button>
<button ng-click="getLogsByLevel(1)" class="btn btn-success btn-xs">1</button>
<button ng-click="getLogsByLevel(2)" class="btn btn-success btn-xs">2</button>
<button ng-click="getLogsByLevel(3)" class="btn btn-success btn-xs">3</button>
<button ng-click="getLogsByLevel(4)" class="btn btn-success btn-xs">4</button>
</div>

<div ng-show="pageState.writeLogShow">
<TEXTAREA NAME="" ROWS="4" COLS="28" ng-model="message"></TEXTAREA>
<br>
<button ng-click="submitLog();" class="btn btn-success btn-xs">提交</button>
</div>

<hr>
<div>
<ul class="partial1_logview">
    <li ng-repeat="log in logs">
        <font color="blue">{{log.creator.name}}</font><font size="1" color="grey">({{log.creator.department}})</font><br>
        {{log.message}}<font size="1" color="grey">({{log.datetime  | date:'yyyy-MM-dd hh:mm:ss'}})</font>
        <ul>
            <li ng-repeat="comment in log.comments">
                <font color="blue">{{comment.creator.name}}</font><font size="1" color="grey">({{comment.creator.department}})</font><br>
                {{comment.message | attachmentName}}&nbsp;&nbsp;&nbsp;&nbsp;<span ng-show="{{comment.message | hasAttachment}}"><a href="{{comment.message | attachmentUrl}}">下载</a></span><font size="1" color="grey">({{comment.datetime | date:'yyyy-MM-dd hh:mm:ss'}})</font>
            </li>
        </ul>
        <button ng-click='toggleCommentState($index);' class="btn btn-success btn-xs">{{log.creator.id==loginUser.userId ? "补充" : "点评"}}</button>
        <button ng-click='toggleAttachmentState($index);' class="btn btn-success btn-xs">附件</button>
        <div  ng-class="{showComment: $index!=commentIndex || pageState.writeCommentShow}">
            <TEXTAREA NAME="" ROWS="2" COLS="20" ng-model="log.comment"></TEXTAREA>
            <br>
            <button ng-click="submitComment($index);" class="btn btn-success btn-xs">提交</button>
        </div>
        <div  ng-class="{showAttachment: $index!=attachmentIndex || pageState.attachmentShow}">
            <br>
            <input ng-file-select type="file" multiple/>
            <table class="table">
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span>  删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <p>
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
                </p>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> 上传
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> 取消
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> 删除
                </button>
            </div>

        </div>
    </li>
</ul>
<hr>
<button ng-click="getMore();" ng-show="pageState.hasMore" class="btn btn-success btn-xs">更多</button>
</div>

<style type="text/css">
    .showComment {
        display:none;
    }
    .showAttachment {
        display:none;
    }
</style>

