<div>
<button ng-click="setWriteShow()">写日志</button>
<button ng-click="getLogs(0)">0</button>
<button ng-click="getLogs(1)">1</button>
<button ng-click="getLogs(2)">2</button>
<button ng-click="getLogs(3)">3</button>
<button ng-click="getLogs(4)">4</button>
</div>

<div ng-show="pageState.writeShow">
<TEXTAREA NAME="" ROWS="4" COLS="28" ng-model="message"></TEXTAREA>
<button ng-click="submitLog();" style="width: 45px; height: 75px;">提交</button>
</div>

<hr>
<div>
<ul class="partial1_logview">
    <li ng-repeat="log in logs">
        <font color="blue">{{log.creator.name}}</font><font size="1" color="grey">({{log.creator.department}})</font><br>
        {{log.message}}<font size="1" color="grey">({{log.datetime  | date:'yyyy-MM-dd hh:mm:ss'}})</font>
        <ul>
            <li ng-repeat="comment in log.comments">
                <font color="blue">{{comment.creator.name}}</font><font size="1" color="grey">({{comment.creator.department}})</font><br>
                {{comment.message}}<font size="1" color="grey">({{comment.datetime | date:'yyyy-MM-dd hh:mm:ss'}})</font>
            </li>
        </ul>
        <button ng-click='toggleCommentState($index);'>点评</button>
        <div  ng-class="{showComment: $index!=selectedIndex}">
            <input ng-model="log.comment"><button ng-click="submitComment($index);">提交</button>
        </div>
    </li>
</ul>
<label>共{{logs.length}}篇</label>
</div>

<style type="text/css">
    .showComment {
        display:none;
    }
</style>

