<h3>&nbsp;&nbsp;搜索</h3>
<hr>
<table class="partial4_table1">
    <tr>
        <td>日 志 人：</td><td><INPUT TYPE="text" NAME="" size="12"><INPUT TYPE="button" VALUE=".." ONCLICK=""></td>
    </tr>
    <tr>
        <td>关 键 字：</td><td><INPUT TYPE="text" NAME="" size="12"></td>
    </tr>
    <tr>
        <td valign="top">起止日期：</td><td><INPUT TYPE="text" NAME="" size="12"><br><INPUT TYPE="text" NAME="" size="12"></td>
    </tr>
</table>
<hr>
&nbsp;&nbsp;<INPUT TYPE="button" VALUE="GO" ONCLICK="location.href='#/view1';">
