<style type="text/css">
    .processDiv {
        display:none;
    }
    .yesDiv {
        display:none;
    }
    .noDiv {
        display:none;
    }
    .stopDiv {
        display:none;
    }
    .restartDiv {
        display:none;
    }
    .userDiv {
        display:none;
    }
    .supplementDiv {
        display:none;
    }
    .attachmentDiv {
        display:none;
    }
</style>

<div class="btn-group">
    <button type="button" ng-click="pageState.showDiv('createDiv')" class="btn btn-success">发起</button>
    <button type="button" ng-click="pageState.showDiv('todoDiv')" class="btn btn-primary">待办</button>
    <button type="button" ng-click="pageState.showDiv('doneDiv')" class="btn btn-info">已办</button>
</div>

<div ng-show="pageState.createDiv">
    <input type="text" class="form-control" placeholder="主题" ng-model="processes.formData.data1">
    <TEXTAREA ROWS="4" ng-model="processes.formData.data2" class="form-control" placeholder="详细阐述"></TEXTAREA>
    <button type="button" ng-click="processes.create()" class="btn btn-default">发起新流程</button>
</div>

<div ng-show="pageState.todoDiv">
    <div class="input-group">
        <div class="radio-inline">
            <label>
                <input type="radio" name="processType"  ng-click="processes.getProcesses(2)">
                待处理
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="processType" ng-click="processes.getProcesses(3)">
                待签
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="processType" ng-click="processes.getProcesses(4)" >
                待阅
            </label>
        </div>
    </div>
</div>

<div ng-show="pageState.doneDiv">
    <div class="input-group">
        <div class="radio-inline">
            <label>
                <input type="radio" name="processType" ng-click="processes.getProcesses(5)" >
                未结束
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="processType" ng-click="processes.getProcesses(6)">
                已完成
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="processType" ng-click="processes.getProcesses(7)">
                已终止
            </label>
        </div>
    </div>
</div>

<div ng-show="pageState.doneDiv || pageState.todoDiv">
    <div class="input-group">
        <span class="input-group-addon">关键字：</span>
        <input type="text" ng-model="pageState.keyWord" class="form-control" />
        <span class="input-group-btn">
            <button type="button" ng-click="find();" class="btn btn-default">GO</button>
       </span>
    </div>
</div>

<div>
<ul class="list-group">
    <li ng-repeat="process in processes.list" class="list-group-item">
        <div ng-click="processes.selectProcess($index)">
            <span class="badge">{{$index+1}}.{{process.state}}</span>
            <span class="text-info">{{process.userName}}</span>
            <span class="text-muted">({{process.department}})</span><br>
            <span class="text-primary">{{process.subject}}</span>
            <span class="text-muted">({{process.createDatetime  | date:'yyyy-MM-dd hh:mm:ss'}})</span>
        </div>
        <div  ng-class="{processDiv:$index!=processes.index || process.div.show}">
            <span class="text-primary">{{process.description}}</span>
            <table class="table">
                <tr ng-repeat="comment in process.comments">
                    <td align="right">
                        <span  ng-show="!{{comment.type}}" class="text-info">{{comment.userName}}</span>
                    </td>
                    <td align="{{comment.type=='0' ? 'left' : 'right'}}">
                        <span class="text-primary">{{comment.message | attachmentName}}</span>
                        <span ng-show="{{comment.message | hasAttachment}}"><a href="{{comment.message | attachmentUrl}}" target="_blank">下载</a></span><br>
                        <span class="text-muted">({{comment.completeDatetime  | date:'yyyy-MM-dd hh:mm:ss'}})</span>
                    </td>
                    <td align="left">
                        <span ng-show="{{comment.type}}" class="text-info">{{comment.userName}}</span>
                    </td>
                </tr>
            </table>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-show="process.toolbar.yesBtn" ng-click="process.showDiv('yesDiv')">
                        <abbr title="流程通过本节点，进入下一执行人。">通过</abbr>
                    </button>
                    <button type="button" class="btn btn-default" ng-show="process.toolbar.noBtn" ng-click="process.showDiv('noDiv')">
                        <abbr title="流程返回到上一节点">驳回</abbr>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-show="process.toolbar.userBtn" ng-click="process.showDiv('userDiv')">
                        <abbr title="未关闭、未终止的流程，发起人和当前人可随时新增其他人员。执行人会对流程的流向直接产生影响，知会人可发表意见，也可不发表意见，不会直接改变流程的流向">人员</abbr>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-show="process.toolbar.supplementBtn" ng-click="process.showDiv('supplementDiv')">
                        <abbr title="未关闭、未终止的流程，参与者可随时发言，不会直接改变流程的流向">{{process.toolbar.supplementBtnTitle}}</abbr>
                    </button>
                    <button type="button" class="btn btn-default" ng-show="process.toolbar.attachmentBtn" ng-click="process.showDiv('attachmentDiv')">
                        <abbr title="未关闭、未终止的流程，参与者可随时加附件，不会直接改变流程的流向">附件</abbr>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-show="process.toolbar.stopBtn" ng-click="process.showDiv('stopDiv')">
                        <abbr title="未完成的流程可被发起人和当前处理人强制终止，终止状态的流程除加入知会人外，其他操作都被禁止。">终止</abbr>
                    </button>
                    <button type="button" class="btn btn-default" ng-show="process.toolbar.restartBtn" ng-click="process.showDiv('restartDiv')">
                        <abbr title="流程完成后自动关闭，关闭状态的流程除加入知会人外，其他操作都被禁止。流程发起人或处理人可重启已关闭或终止的流程，流程将按新增人员运行">重启</abbr>
                    </button>
                </div>
            </div>
            <div>
                <div  ng-class="{yesDiv: $index!=processes.index || process.div.yesDiv}">
                    <TEXTAREA NAME="" ROWS="2" COLS="20" ng-model="process.formData"  class="form-control"></TEXTAREA>
                    <button type="button" ng-click="process.yes();" class="btn btn-default">同意并通过</button>
                </div>
                <div  ng-class="{noDiv: $index!=processes.index || process.div.noDiv}">
                    <TEXTAREA NAME="" ROWS="2" COLS="20" ng-model="process.formData"  class="form-control"></TEXTAREA>
                    <button type="button" ng-click="process.no();" class="btn btn-default">驳回到发起人</button>
                </div>
                <div  ng-class="{stopDiv: $index!=processes.index || process.div.stopDiv}">
                    <TEXTAREA NAME="" ROWS="2" COLS="20" ng-model="process.formData"  class="form-control"></TEXTAREA>
                    <button type="button" ng-click="process.stop();" class="btn btn-default">确定终止</button>
                </div>
                <div  ng-class="{restartDiv: $index!=processes.index || process.div.restartDiv}">
                    <TEXTAREA NAME="" ROWS="2" COLS="20" ng-model="process.formData"  class="form-control"></TEXTAREA>
                    <button type="button" ng-click="process.restart();" class="btn btn-default">确定重启</button>
                </div>
                <div  ng-class="{userDiv: $index!=processes.index || process.div.userDiv}">
                    <div class="input-group">
                        <span class="input-group-addon">查找：</span>
                        <input type="text" ng-model="users.keyWord" class="form-control" placeholder="请输入姓名的关键字"/>
                    <span class="input-group-btn">
                        <button type="button" ng-click="users.refresh()" class="btn btn-default">GO</button>
                   </span>
                    </div>
                    <div ng-repeat="executer in process.executers" class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="badge">{{$index+1}}</span>
                            执行人：{{executer.userName}}
                            <div class="pull-right"><button type="button" class="btn btn-default btn-xs" ng-click="process.delExecuter($index)">取消</button></div>
                            <br>
                            {{executer.department}}
                        </div>
                    </div>
                    <div ng-repeat="adviser in process.advisers" class="panel panel-info">
                        <div class="panel-heading">
                            <span class="badge">{{$index+1}}</span>
                            会签人：{{adviser.userName}}
                            <div class="pull-right"><button type="button" class="btn btn-default btn-xs" ng-click="process.delAdviser($index)">取消</button></div>
                            <br>
                            {{adviser.department}}
                        </div>
                    </div>
                    <div ng-repeat="user in users.list" class="panel panel-default">
                        <div class="panel-body">
                            {{user.userName}}
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-xs" ng-click="process.addExecuter($index)">执行人</button>
                                <button type="button" class="btn btn-default btn-xs" ng-click="process.addAdviser($index)">会签人</button>
                            </div>
                            <br>
                            {{user.department}}
                        </div>
                    </div>
                </div>
                <div  ng-class="{supplementDiv: $index!=processes.index || process.div.supplementDiv}">
                    <TEXTAREA NAME="" ROWS="2" COLS="20" ng-model="process.formData"  class="form-control"></TEXTAREA>
                    <button type="button" ng-click="process.supplement();" class="btn btn-default">提交</button>
                </div>
                <div  ng-class="{attachmentDiv: $index!=processes.index || process.div.attachmentDiv}">
                    <br>
                    <input ng-file-select type="file" multiple/>
                    <table class="table">
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span>  删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                        </p>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> 上传
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> 取消
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item"><button type="button" ng-click="processes.refresh();" ng-show="processes.hasMore" class="btn btn-default">更多</button></li>
</ul>
</div>

<script>
    $('#myTab a[href="#process"]').tab('show');
</script>

<div ng-show="false">
    todo:
    6、在reads中有记录即为待阅
    7、process.logs记载加入人员、取消人员的操作
</div>